<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <style>
	  table.tableCustomStyle { width:300px; border-collapse: collapse; }
	  .tableCustomStyle th, .tb td { border: solid 1px #777; padding: 5px; text-align: center; }
	  .tableCustomStyle th { background: #3630a3; color:white; text-align: center; }
	</style>
</head>
<body>
	<h1>List of Books</h1>
	<table class="tableCustomStyle">
	    <thead>
	        <tr>
	            <th> ID </th>
	            <th> Name </th>
	            <th> Author </th>
	            <th> Assigned Student ID </th>
	            <th> Assigned Student Name </th>
	        </tr>
	    </thead>
	    <tbody>
			<tr th:if="${books.empty}">
	            <td colspan="2"> No Books Available </td>
	        </tr>
	        <tr th:each="book : ${books}">
	            <td><span th:text="${book.id}"> ID </span></td>
	            <td><span th:text="${book.name}"> Name </span></td>
	            <td><span th:text="${book.author}"> Author </span></td>
	            <td><span th:text="${book.borrowerStudentId == null? '-' : book.borrowerStudentId}"> Assigned Student ID </span></td>
	            <td><span th:text="${book.borrowerStudentName == null? '-' : book.borrowerStudentName}"> Assigned Student Name </span></td>
	        </tr>
	    </tbody>
</table>
</body>
</html>