<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Book Registration</h1>
<form action="#" th:action="@{/bookUpdate}" method="post">
    <table>
        <tr>
            <td>Id:</td>
            <td><p th:text="${book.id}" /></td>
        </tr>

        <tr>
            <td>Name:</td>
            <td><span th:text="${book.name}" /></td>
        </tr>

        <tr>
            <td>Author:</td>
            <td><span th:text="${book.writerName}" /></td>
        </tr>

        <tr>
            <td><a href="/home">Home</a></td>
        </tr>
    </table>
    <input type="submit" th:text="Delete">
</form>
</body>
</html>