<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Home page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2><a href="/studentRegistration">Register student</a></h2>
	<h2><a href="/bookRegistration">Register book</a></h2>
	<h2><a href="/bookAssignmentToStudent">Assign book to student</a></h2>
	<h2><a href="/bookWithdrawalFromStudent">Withdraw book from student</a></h2>
	<h2><a href="/studentBookBorrowingStatus">Check student book borrowing status</a></h2>
</body>
</html>